.experience-div {
  //  background-color: red;
}
.experience-img {
  height: 50px;
}
.experience-title {
  margin-top: 10px;
}
.experience-title h4 {
  font-size: 20px;
}
.experience-title h5 {
  font-size: 14px;
}
.experience-title h6 {
  font-size: 12px;
}
.experience-list {
  margin-top: 20px;
  margin-bottom: 20px;
}
