.portfolio-carousel {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
.portfolio-carousel h3 {
  margin-top: 20px;
}
