.presentation {
  display: flex;
  justify-content: center;
}
.div-box {
  text-align: center;
}
.div-avatar {
  display: flex;
  justify-content: center;
}
.icons {
  color: rgba(48, 45, 45, 0.877);
  padding: 6px;
  font-size: 24px;
}
