.skills_tech {
  text-align: center;
}
.progress-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.progress-bar {
  min-width: 250px;
}
.name-skill {
  margin-top: 40px;
}
